.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #A0A0A0;
    padding: 10px;
}

.grid-container > div {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.tinyText {
    font-size: 10px;
}

.banner {
    grid-column-start: 1;
    grid-column-end: 3;
}

body {
    background-color: #A0A0A0;
    /*color: blue;*/
}

h1 {
    background-color: #383838;
    color: white;
    text-align: center;
}


/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.activeguest {
    background-color: #9e9cfd;
}

.activeadmin {
    background-color: #70002b;
}

.guest {
    background-color: #9e9cfd;
}

.admin {
    background-color: #70002b;
}

.adminbanner {
    grid-column-start: 1;
    grid-column-end: 3;
}
